.createPosts{
    display: flex;
    flex-direction: column;
    flex: 0.6;
    justify-content: center;
    margin: 0 auto;
}

.containerPost {
width: 100%;
height: 350px;
}
.formControl{
    display: flex;
    position: relative;
    align-items: flex-end;
    top: 700px;
}