.header{
    position:fixed;
    top:0;
    z-index:200;
    width: 100%;
}
.header__navbar{
 background-color: #ffffff;
 height: 70px;
 width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.header__searchContainer{
    display: flex;
    align-items: center;
    background-color:#F1F4F9;
    min-width: 25%;
    height:35px;
    border-radius: 20px;

}
.header__searchContainer > .MuiSvgIcon-root{
    color:gray;
    padding:2%;
    padding-left: 4%;
    font-size: 3vh;

}
.header__searchContainer > input{
    width: 100%;
    border: none;
    outline-width: 0;
    background-color:#F1F4F9;
    margin-right: 4%;
}

.icon__hover:hover{
    background-color: #6E7EF8 !important;
}